header {
  font-size: 30px;

  margin-bottom: 0px;
}
footer {
  margin-top: 0px;
  display: inline;
}
p {
  margin: 0px;
}
h5 {
  margin-bottom: 0px;
  color: rgb(39, 110, 210);
}
h6 {
  margin-top: 15px;
  font-size: 12px;
}
article {
  display: grid;
  gap: 20px;
  margin: 5px;
  text-align: left;
}

th {
  width: 50%;
}
div {
  margin-top: 20px;
}
div ~ p {
  margin: 0px auto;
}
